.background_container_header{
    background-color: #2C3E50;
    color: white;
}

li> i{
    color: white;
    font-size: 2em;
}

nav> ul> li {
    display: inline;
    list-style: none;
}

.background_container_section{
    background-color:#1ABC9C;
    color: white;   
}

ul> li {
    display: inline;
    list-style: none;
}

.img_container{
    width: 60%;
}

.description_avatar>*{
    margin-bottom: 20px;
}

.button{
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.downland {
    border: 2px solid white; 
}

.green{
    background-color: #1ABC9C;
}

.styleinput{
  border:none; 
}

.container_input> div{
  border-bottom: 2px solid lightgrey;
  margin-bottom: 10px;
}

.greenlink{
    text-decoration: none;
    color: #1ABC9C;
}

.background_container_footer{
    background-color: #3A546D;
    color: white;
}

.background_container_footer_bottom{
    background-color: #2C3E50;
    color: white;
}